body {
    font-family: Arial;
    margin: 0;
    background: #f4f6f8;
}

.navbar {
    background: #0d6efd;
    color: white;
    padding: 12px;
    font-size: 18px;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.card {
    background: white;
    padding: 15px;
    margin-top: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
}

button {
    background: #0d6efd;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
}

input {
    padding: 10px;
    width: 100%;
    margin: 10px 0;
}
.job-card{
    border:1px solid #ddd;
    padding:15px;
    margin:15px 0;
    border-radius:8px;
    background:#fff;
    box-shadow:0 2px 6px rgba(0,0,0,0.1);
}

button{
    background:#1e88e5;
    color:white;
    border:none;
    padding:8px 16px;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#1565c0;
}
.navbar{
    background: #1e6bd6;
    color: white;
    padding: 15px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.myapps{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.myapps:hover{
    text-decoration: underline;
}